.cabecalho{
background-color: hsl(240, 1%, 72%);
color:white;
display: flex;
justify-content: space-around;
}
.cabecalho-imagem{
width: 20%;
}
.cabeclho-lista-item{
display: inline-block;
margin: 0 16px;


}

.escola-div-conteudo{
width: 35%;

}

